.progress[value] {
  @apply h-4 appearance-none overflow-hidden rounded-full bg-slate-200 dark:bg-slate-800;

  &::-webkit-progress-bar {
    @apply bg-slate-200 dark:bg-slate-800;
  }

  &::-webkit-progress-value {
    @apply bg-slate-900 dark:bg-slate-400;
  }

  &::-moz-progress-bar {
    @apply bg-slate-900 dark:bg-slate-400;
  }
}

.progress:not([value]) {
  @apply h-4 appearance-none overflow-hidden rounded-full;

  &::-webkit-progress-bar {
    background-repeat: repeat;
    background-size: 32px 16px;
    background-image: linear-gradient(
      -45deg,
      theme("colors.slate.200") 0,
      theme("colors.slate.200") 33%,
      theme("colors.slate.900") 33%,
      theme("colors.slate.900") 66%,
      theme("colors.slate.200") 66%
    );
    /* FIXME: Animation does not work in Chrome */
    animation: progress-anime 0.5s linear infinite;

    @media (prefers-color-scheme: dark) {
      background-image: linear-gradient(
        -45deg,
        theme("colors.slate.800") 0,
        theme("colors.slate.800") 33%,
        theme("colors.slate.400") 33%,
        theme("colors.slate.400") 66%,
        theme("colors.slate.800") 66%
      );
    }
  }

  &::-moz-progress-bar {
    background-repeat: repeat;
    background-size: 32px 16px;
    background-image: linear-gradient(
      -45deg,
      theme("colors.slate.200") 0,
      theme("colors.slate.200") 33%,
      theme("colors.slate.900") 33%,
      theme("colors.slate.900") 66%,
      theme("colors.slate.200") 66%
    );
    animation: progress-anime 0.5s linear infinite;

    @media (prefers-color-scheme: dark) {
      background-image: linear-gradient(
        -45deg,
        theme("colors.slate.800") 0,
        theme("colors.slate.800") 33%,
        theme("colors.slate.400") 33%,
        theme("colors.slate.400") 66%,
        theme("colors.slate.800") 66%
      );
    }
  }
}

@keyframes progress-anime {
  to {
    background-position: 32px 0;
  }
}
