.radio {
  @apply h-4 w-4 appearance-none rounded-full border border-slate-300 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 dark:border-slate-700 dark:text-slate-50 dark:focus:ring-slate-400 dark:focus:ring-offset-slate-900;
}

.radio:checked {
  background-size: 14px 14px;
  background-image: url("./icons/circle.svg");

  @media (prefers-color-scheme: dark) {
    background-image: url("./icons/circle.dark.svg");
  }
}
