.radio {
  @apply h-4 w-4 appearance-none rounded-full border border-slate-300 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 dark:border-slate-700 dark:text-slate-50 dark:focus:ring-slate-400 dark:focus:ring-offset-slate-900;
}

.radio:checked {
  background-size: 14px 14px;
  background-image: url("./icons/circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  animation: radiomark 0.3s ease-in-out;

  @media (prefers-color-scheme: dark) {
    background-image: url("./icons/circle.dark.svg");
  }
}

@keyframes radiomark {
  0% {
    background-size: 0 0;
  }
  50% {
    background-size: 16px 16px;
  }
  to {
    background-size: 14px 14px;
  }
}
